<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">List User</a>
        <a href="/create">Create User</a>
    </div>
    <div class="form">
        <form action="/update-user/<%= user.id %>" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Form Update User</legend>
                
                <div class="input-group d-none">
                    <label for="">ID:</label>
                    <input type="text" name="id" value="<%= user.id %>" readonly>
                </div>
                
                <div class="input-group">
                    <label for="">Email:</label>
                    <input type="text" name="email" value="<%= user.email %>" required>
                </div>
                
                <div class="input-group">
                    <label for="">Password:</label>
                    <input type="password"  value="<%= user.password %>" name="password" required>
                </div>
                
                <div class="input-group">
                    <label for="">Name:</label>
                    <input type="text" name="name" value="<%= user.name %>" required>
                </div>
                
                <div class="input-group">
                    <label for="">Profile Picture:</label>
                    <input type="file" name="file">
                    <% if (user.file) { %>
                        <p>Current Profile Picture: <img src="/images/<%= user.file %>" alt="Profile Picture" width="100"></p>
                    <% } %>
                </div>
                
                <div>
                    <button type="submit">Update</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>
