<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- <%= JSON.stringify(user)%> -->
    <div class="topnav">
        <a class="active" href="/">List User</a>
        <a href="/create">Create Usser</a>
    </div>
    <div class="form">
        <form action="/update-user/<%= user.id %>" method="post">
            <fieldset>
                <legend>Form update user</legend>
                <div class="input-group d-none">
                    <label for="">id :</label>
                    <input type="text" name="id"  value="<%= user.id %>">
                </div>
                
                <div class="input-group">
                    <label for="">Email :</label>
                    <input type="text" value="<%= user.email %>" name="email">
                </div>
                <div class="input-group">
                    <label for="">Name :</label>
                    <input type="text" value="<%= user.name %>" name="name">
                </div>
                <div>
                    <button>update</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>